# Ignore node_modules directory
node_modules

# Ignore any local development files or directories
# Add any other files or directories specific to your development environment
# that should not be included in the Docker build context
.vscode
.idea
*.log
*.tmp
*.swp

# Ignore any sensitive or unnecessary files
.DS_Store
.env
